---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class

import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class="py-3 text-base" id="home" href={`/${lang}/`}>{t('nav.home')}</a></li>
    <li><a class="py-3 text-base" id="projects" href={`/${lang}/about/`}>{t('nav.about')}</a></li>
    <li><a class="py-3 text-base" id="services" href={`/${lang}/projects/`}>{t('nav.projects')}</a></li>
    <li><a class="py-3 text-base" id="cv"href={`/${lang}/cv/`}>{t('nav.cv')}</a></li>
    <li>
        <a
            class="py-3 text-base"
            href="mailto:contact.rubenill79@hotmail.com"
            target="_blank"
            referrerpolicy="no-referrer-when-downgrade">{t('nav.contact')}</a
        >
    </li>
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);
</script>