---
import { getLangFromUrl } from '../i18n/utils';
import Base from "../layouts/Base.astro";
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";

const lang = getLangFromUrl(Astro.url);
const {title, sideBarActiveItemID} = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<head>
		<Base title={title} description={"TODO"} />
	</head>
	<body class="flex flex-col min-h-screen">
		<div class="drawer lg:drawer-open flex-grow">
			<input id="my-drawer" type="checkbox" class="drawer-toggle" />
			<div class="drawer-content flex flex-col">
				<Header />
				<div class="md:flex md:justify-center flex-grow">
					<main class="p-6 pt-10 lg:max-w-[900px] max-w-[100vw]">
						<slot />
					</main>
				</div>
				<Footer class="mt-auto" />
			</div>
			<Sidebar sideBarActiveItemID={sideBarActiveItemID} />
		</div>
	</body>
</html>