---
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";

const {language, title} = Astro.props;
---

<!doctype html>
<html lang={language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="drawer lg:drawer-open">
			<input id="my-drawer" type="checkbox" class="drawer-toggle" />
			<div class="drawer-content flex flex-col">
				<Header />
				<div class="md:flex md:justify-center">
					<main class="p-6 pt-10 lg:max-w-[900px] max-w-[100vw]">
						<slot />
					</main>
				</div>
			</div>
			<Sidebar />
		</div>
	</body>
</html>
